In [ ]:
# PC 2
# Lorena Belen Cerda Rioja

In [1]:
link="https://docs.google.com/spreadsheets/d/e/2PACX-1vSeW-IeM4dQhMkUFgQswGOf29_d_sHdYFTKzLzg-hT4o41MLzFMda3Keq-t-aiMbA/pubhtml"

In [96]:
# Importar tabla
import pandas as pd
data=pd.read_html(link)[0]
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1.0,Back,Table 1. Human Development Index and its compo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,273.0,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,274.0,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,275.0,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,276.0,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,277.0,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   277 non-null    float64
 1   Unnamed: 1   193 non-null    object
 2   Unnamed: 2   262 non-null    object
 3   Unnamed: 3   5 non-null      object
 4   Unnamed: 4   218 non-null    object
 5   Unnamed: 5   5 non-null      object
 6   Unnamed: 6   219 non-null    object
 7   Unnamed: 7   6 non-null      object
 8   Unnamed: 8   219 non-null    object
 9   Unnamed: 9   106 non-null    object
 10  Unnamed: 10  219 non-null    object
 11  Unnamed: 11  92 non-null     object
 12  Unnamed: 12  219 non-null    object
 13  Unnamed: 13  16 non-null     object
 14  Unnamed: 14  217 non-null    object
 15  Unnamed: 15  6 non-null      object
 16  Unnamed: 16  212 non-null    object
dtypes: float64(1), object(16)
memory usage: 37.0+ KB

In [98]:
# escoge solo las columnas de interés
keep=[1,2,4,6,8,10,12,14,16]
dontKeep=set(data.columns.to_list())-set(data.columns[keep])
dataF=data.drop(columns=dontKeep)

dataF

,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16
0,Back,Table 1. Human Development Index and its compo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
...,...,...,...,...,...,...,...,...,...
273,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
data_frame=dataF[9:203]
data_frame

,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16
9,1,Switzerland,0962,840,165,139,66.933,5,3
10,2,Norway,0961,832,182,130,64.660,6,1
11,3,Iceland,0959,827,192,138,55.782,11,2
12,4,"Hong Kong, China (SAR)",0952,855,173,122,62.607,6,4
13,5,Australia,0951,845,211,127,49.238,18,5
...,...,...,...,...,...,...,...,...,...
198,187,Burundi,0426,617,107,31,732,4,187
199,188,Central African Republic,0404,539,80,43,966,1,188
200,189,Niger,0400,616,70,21,1.240,-3,189
201,190,Chad,0394,525,80,26,1.364,-7,190
202,191,South Sudan,0385,550,55,57,768,-1,191

In [100]:
# asignar nombres a las columnas
change1={'Unnamed: 1':"Num"}
data_frame.rename(columns=change1,inplace=True)
data_frame
change2={'Unnamed: 2':"Country"}
data_frame.rename(columns=change2,inplace=True)
data_frame
change3={'Unnamed: 4':"Human Development Index"}
data_frame.rename(columns=change3,inplace=True)
change4={'Unnamed: 6':"Life expectancy at birth"}
data_frame.rename(columns=change4,inplace=True)
change5={'Unnamed: 8':"Expected years of schooling"}
data_frame.rename(columns=change5,inplace=True)
change6={'Unnamed: 10':"Mean years of schooling"}
data_frame.rename(columns=change6,inplace=True)
change7={'Unnamed: 12':"Gross national income per capita"}
data_frame.rename(columns=change7,inplace=True)
change8={'Unnamed: 14':"GNI per capita rank minus HDI rank"}
data_frame.rename(columns=change8,inplace=True)
change9={'Unnamed: 16':"HDI RANK"}
data_frame.rename(columns=change9,inplace=True)
data_frame

<ipython-input-100-9b4c28827ff3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame.rename(columns=change1,inplace=True)
<ipython-input-100-9b4c28827ff3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame.rename(columns=change2,inplace=True)
<ipython-input-100-9b4c28827ff3>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame.rename(columns=change3,inplace=True)
<ipython-input-100-9b4c28827ff3>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame.rename(columns=change4,inplace=True)
<ipython-input-100-9b4c28827ff3>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame.rename(columns=change5,inplace=True)
<ipython-input-100-9b4c28827ff3>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame.rename(columns=change6,inplace=True)
<ipython-input-100-9b4c28827ff3>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame.rename(columns=change7,inplace=True)
<ipython-input-100-9b4c28827ff3>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame.rename(columns=change8,inplace=True)
<ipython-input-100-9b4c28827ff3>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame.rename(columns=change9,inplace=True)

,Num,Country,Human Development Index,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income per capita,GNI per capita rank minus HDI rank,HDI RANK
9,1,Switzerland,0962,840,165,139,66.933,5,3
10,2,Norway,0961,832,182,130,64.660,6,1
11,3,Iceland,0959,827,192,138,55.782,11,2
12,4,"Hong Kong, China (SAR)",0952,855,173,122,62.607,6,4
13,5,Australia,0951,845,211,127,49.238,18,5
...,...,...,...,...,...,...,...,...,...
198,187,Burundi,0426,617,107,31,732,4,187
199,188,Central African Republic,0404,539,80,43,966,1,188
200,189,Niger,0400,616,70,21,1.240,-3,189
201,190,Chad,0394,525,80,26,1.364,-7,190
202,191,South Sudan,0385,550,55,57,768,-1,191

In [101]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 9 to 202
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Num                                 191 non-null    object
 1   Country                             194 non-null    object
 2   Human Development Index             194 non-null    object
 3   Life expectancy at birth            194 non-null    object
 4   Expected years of schooling         194 non-null    object
 5   Mean years of schooling             194 non-null    object
 6   Gross national income per capita    194 non-null    object
 7   GNI per capita rank minus HDI rank  194 non-null    object
 8   HDI RANK                            191 non-null    object
dtypes: object(9)
memory usage: 13.8+ KB

In [114]:
# limpiar nombre de columnas, sin epacios
data_frame.columns=data_frame.columns.str.replace('\s','_',regex=True)
data_frame

,Num,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita,GNI_per_capita_rank_minus_HDI_rank,HDI_RANK
0,1,Switzerland,0962,840,165,139,66.933,5,3
1,2,Norway,0961,832,182,130,64.660,6,1
2,3,Iceland,0959,827,192,138,55.782,11,2
3,4,"Hong Kong, China (SAR)",0952,855,173,122,62.607,6,4
4,5,Australia,0951,845,211,127,49.238,18,5
...,...,...,...,...,...,...,...,...,...
186,187,Burundi,0426,617,107,31,732,4,187
187,188,Central African Republic,0404,539,80,43,966,1,188
188,189,Niger,0400,616,70,21,1.240,-3,189
189,190,Chad,0394,525,80,26,1.364,-7,190
190,191,South Sudan,0385,550,55,57,768,-1,191

In [115]:

data_frame[data_frame.Expected_years_of_schooling.str.contains(r'\D')]
data_frame[data_frame.Life_expectancy_at_birth.str.contains(r'\D')]
data_frame[data_frame.HDI_Rank.str.contains(r'\D')]
data_frame[data_frame.Mean_years_of_schooling.str.contains(r'\D')]
data_frame[data_frame.Life_expectancy_at_birth.str.contains(r'\D')]
data_frame[data_frame.GNI_per_capita_rank_minus_HDI_rank(r'\D')]

AttributeError: Can only use .str accessor with string values!

In [104]:
data_frame=data_frame[~data_frame.isna().any(axis=1)].reset_index(drop=True)
data_frame

,Num,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita,GNI_per_capita_rank_minus_HDI_rank,HDI_RANK
0,1,Switzerland,0962,840,165,139,66.933,5,3
1,2,Norway,0961,832,182,130,64.660,6,1
2,3,Iceland,0959,827,192,138,55.782,11,2
3,4,"Hong Kong, China (SAR)",0952,855,173,122,62.607,6,4
4,5,Australia,0951,845,211,127,49.238,18,5
...,...,...,...,...,...,...,...,...,...
186,187,Burundi,0426,617,107,31,732,4,187
187,188,Central African Republic,0404,539,80,43,966,1,188
188,189,Niger,0400,616,70,21,1.240,-3,189
189,190,Chad,0394,525,80,26,1.364,-7,190
190,191,South Sudan,0385,550,55,57,768,-1,191

In [117]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Num                                 191 non-null    int64
 1   Country                             191 non-null    object
 2   Human_Development_Index             191 non-null    object
 3   Life_expectancy_at_birth            191 non-null    int64
 4   Expected_years_of_schooling         191 non-null    int64
 5   Mean_years_of_schooling             191 non-null    object
 6   Gross_national_income_per_capita    191 non-null    object
 7   GNI_per_capita_rank_minus_HDI_rank  191 non-null    object
 8   HDI_RANK                            191 non-null    object
dtypes: int64(3), object(6)
memory usage: 13.6+ KB

In [118]:

data_frame['Expected_years_of_schooling']=pd.to_numeric(data_frame.Expected_years_of_schooling)

data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Num                                 191 non-null    int64
 1   Country                             191 non-null    object
 2   Human_Development_Index             191 non-null    object
 3   Life_expectancy_at_birth            191 non-null    int64
 4   Expected_years_of_schooling         191 non-null    int64
 5   Mean_years_of_schooling             191 non-null    object
 6   Gross_national_income_per_capita    191 non-null    object
 7   GNI_per_capita_rank_minus_HDI_rank  191 non-null    object
 8   HDI_RANK                            191 non-null    object
dtypes: int64(3), object(6)
memory usage: 13.6+ KB